@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

h1 {
    text-align: center;
    color: black;
    font-family: 'Noto Sans';
    font-size: xxx-large;
    text-transform: uppercase;
}

img.irfu-logo {
    display: flex;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    border-radius: 10px;
}

button#play {
    border-radius: 10px;
    text-decoration: none;
    padding: 15px 32px 15px 32px;
    background-color: #00744c;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 440px;
    margin-top: 100px;
    position: absolute;
    font-size: 50px;
}

button#how-to-play {
    border-radius: 10px;
    text-decoration: none;
    padding: 15px 32px 15px 32px;
    background-color: #00744c;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 415px;
    margin-top: 270px;
    position: absolute;
    font-size: 50px;
}

.footer {
    text-align: center;
    font-size: 1rem;
}

/* Play Quiz */
#quiz {
    background-color: #00744c;
}

.quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    width: 40rem;
    height: 40rem;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: 1px solid black;
}

.counter-container {
    width: 90%;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.answer-btn {
    background: white;
    color: black;
    width: 100%;
    border: 1px solid black;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.answer-btn:hover:not([disabled]) {
    background: rgb(32, 10, 231);
    color: white;
}

p {
    font-family: noto, sans-serif;
    color: black; 
}

.correct {
    background: greenyellow;
}

.incorrect {
    background: #f1807e
}

#next-button {
    background: white;
    color: black;
    width: 150px;
    margin: 10px auto 0;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    display: none;
}

.next-button {
    cursor: no-drop;
}

h1#question {
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    margin: 100px auto 0;
    padding: 30px;
    font-size: 18px;
}

@media only screen and (max-width:320px) {
    body{font-size: 12px;}
}