@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: #00744c;
}

h1 {
    text-align: center;
    color: white;
    font-family: 'Noto Sans';
    font-size: xxx-large;
    text-transform: uppercase;
}

img.irfu-logo {
    display: flex;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    border-radius: 10px;
}

img.aki-pic {
    margin-left: 20px;
    border-radius: 20px;
}

img.team-pic {
    float: right;
    margin-right: 20px;
    border-radius: 20px;
}

button#play {
    border-radius: 10px;
    text-decoration: none;
    padding: 35px 52px 35px 52px;
    background-color: white;
    color: #00744c;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 440px;
    margin-top: 100px;
    position: absolute;
    font-size: 50px;
}

button#how-to-play {
    border-radius: 10px;
    text-decoration: none;
    padding: 15px 32px 15px 32px;
    background-color: white;
    color: #00744c;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 415px;
    margin-top: 270px;
    position: absolute;
    font-size: 50px;
}

.footer {
    text-align: center;
    font-size: 1rem;
}

/* Play Quiz */
#quiz {
    background-color: #2aa5e3;
}

.quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    width: 40rem;
    height: 40rem;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.counter-container {
    width: 90%;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2aa5e3;
}

.answer-box {
    width: 400px;
    height: 50px;
    border: 2px solid white;
    padding-left: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.answer-container {
    width: 85%;
    height: 12rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

p {
    font-family: noto, sans-serif;
    color: white; 
}

h1#question {
    background-color: #2aa5e3;
}